@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: white;
}

@keyframes borderGrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
/* You can keep this part in your global CSS */
@layer components {
  .border-animate {
    @apply relative;
  }

  .border-animate::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--border-color, white);
    transition: width 1s ease-out;
  }

  /* For the bottom border */
  .border-bottom::after {
    bottom: 0;
    left: 0;
  }

  /* For the top border */
  .border-top::after {
    top: 0;
    left: 0;
  }

  /* For the left border */
  .border-left::after {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transition: height 1s ease-out;
  }

  /* For the right border */
  .border-right::after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    transition: height 1s ease-out;
  }

  /* In view states */
  .in-view.border-bottom::after,
  .in-view.border-top::after {
    width: 100%;

    z-index: -1;
  }

  .in-view.border-left::after,
  .in-view.border-right::after {
    height: 100%;
    z-index: -1;
  }
}
